body {
    background-color: rgb(200, 200, 200);
    align-items: center;
    border: 10px solid brown;
}

p {
    color: rgb(70, 70, 60)
}
td {
    color: rgb(70, 70, 60)
}

button {
    color: rgb(108, 56, 19);
    background-color: burlywood;
    border-radius: 8px;
    cursor: pointer;
}
#Kamal {
    color: aquamarine;
    display: block;
    background-color: cornflowerblue;
    width: 95px;
    height: 35px;
    border-radius: 10px
}

tr {
    border-color: darkturquoise
}
#body1{
    background-color: burlywood;
}
img{
    border-radius: 10px;
}